
# ls Aliases
alias la='ls -la'
alias l='ls'

## dotfile configuration aliases ##

alias dotfiles='cd $DEV_ROOT/dotfiles'
alias redot='cd $DEV_ROOT/dotfiles && ./install.sh'

## Coresystems Aliases ##

alias portal='cd $CORE_PORTAL'

alias mdm='cd $CORE_MDM'
alias mdm-front='cd $CORE_MDM/frontend'
alias mdm-back='cd $CORE_MDM/backend'

alias dl='cd $CORE_DL'
alias dl-front='cd $CORE_DL/frontend'
alias dl-back='cd $CORE_DL/backend'

## Personal Projects

alias worktools='cd /c/dev/source/ui5/worktools'

## Git Aliases ##

# rename git after me :3
alias ejit='git $@'
alias graph='git log --oneline --decorate --graph'

# Update Kubectl configuration from converged cloud
alias kupdate='kubernikusctl auth init --username I059151 --user-domain-name monsoon3 --project-id a0a468d09734431eb49d001dc2f79a3d --auth-url https://identity-3.eu-nl-1.cloud.sap/v3 --url https://kubernikus.eu-nl-1.cloud.sap --name hana-rug'

echo "(OK) .aliases"
